.input-field input{
    padding: 10px 30px;
    margin: 10px;
    border:1px solid gray;
    border-radius: 5px;

}

.input-field button{
    padding: 5px 30px;
}

.signin-button button{
    background-image: linear-gradient(rgb(53, 31, 27),rgb(20, 28, 31));
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
}